/* Stilvoller grüner Hintergrund */
.root {
    -fx-background-color: #E0FFFF; /* #E0FFFF Hintergrundfarbe */
    -fx-background-radius: 10; /* Runde Ecken */
    -fx-padding: 20px; /* Innenabstand */
    -fx-font-size: 16px; /* Schriftgröße für den Text */
    -fx-text-fill: white; /* Textfarbe */
}


/* Optional: Hervorhebung für Buttons */
.button {
    -fx-background-color: #45A049; /* Grüne Hintergrundfarbe für Buttons */
    -fx-background-radius: 5; /* Runde Ecken für Buttons */
    -fx-font-size: 14px; /* Schriftgröße für Buttons */
    -fx-text-fill: white; /* Textfarbe für Buttons */
}

/* Optional: Hervorhebung für Links (Hyperlinks) */
.hyperlink {
    -fx-text-fill: #45A049; /* Grüne Textfarbe für Hyperlinks */
    -fx-underline: true; /* Unterstrich für Hyperlinks */
}

/* Optional: Hervorhebung für Textfelder */
.text-field {
    -fx-background-color: #E7F0E9; /* Hintergrundfarbe für Textfelder */
    -fx-background-radius: 5; /* Runde Ecken für Textfelder */
    -fx-font-size: 14px; /* Schriftgröße für Textfelder */
}
