.button{
    -fx-background-color: darkslateblue;
    -fx-text-fill: white;
<<<<<<< Updated upstream
=======
}

.table-view {
    -fx-background-color: transparent;
}
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}
.table-view .corner {
    -fx-background-color: transparent;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #1dbbdd44, #93f9b944);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}
.table-view .column-header {
    -fx-background-color: transparent;
}


/* grid color */
.table-view .table-cell{
    -fx-border-color: grey;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: red;
}
.table-row-cell:odd{
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}


.table-view .virtual-flow .scroll-pane:vertical,
.table-view .virtual-flow .scroll-pane:vertical .track,
.table-view .virtual-flow .scroll-pane:vertical .track-background,
.table-view .virtual-flow .scroll-pane:horizontal,
.table-view .virtual-flow .scroll-pane:horizontal .track,
.table-view .virtual-flow .scroll-pane:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-pane .increment-button,
.table-view .virtual-flow .sscroll-pane .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-pane:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #1dbbdd44, #93f9b944);
}
.table-view .virtual-flow .scroll-pane:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #1dbbdd44, #93f9b944);
}

.table-row-cell: highlighted{
    -fx-background-color: #81c483;
    -fx-background-radius: 15px;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-radius: 5em;
}

.rcorners {
    -fx-background-color: red;
}

.scroll-pane > .corner {
    -fx-background-color: transparent ;
>>>>>>> Stashed changes
}